.services_block {
    height: 1242px;
    background: #EBEBEB;
    display: grid;
    justify-content: center;
    align-content: start;
}

.services {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    width: 445px;
    height: 23px;
    margin-top: 140px;
}

.specialization {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    width: 663px;
    height: 47px;
    margin-top: 40px;
}

.services_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    margin-top: 102px;
}

.services_item {
    position: relative;
}

.services_text {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    top: 261px;
    left: 45px;
}


