.intro {
    position: relative;
    background: no-repeat;
    height: 670px;
    background-size: cover;
}

.intro_img {
    background-image: inherit;
    background-size: cover;
}

h1 {
    position: absolute;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    top: 170px;
    left: 405px;
    margin: 0;
    color: #FFFFFF
}

.presentation {
    position: absolute;
    width: 270px;
    height: 60px;
    left: 405px;
    top: 367px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    display: inline-block;
    cursor: pointer;
}

.presentation:active {
    opacity: .75;
}

.slider_indicators1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 405px;
    top: 547px;
    opacity: 0.4;
}

.slider_indicators2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 455px;
    top: 547px;
    opacity: 0.4;
}

.slider_indicators_active {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 505px;
    top: 547px;
}

.slider_indicators4 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 555px;
    top: 547px;
    opacity: 0.4;
}

.slider_control_prev {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1395px;
    top: 497px;
    background: #FFFFFF;
    opacity: 0.2;
}

.slider_control_next {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1455px;
    top: 497px;
    background: #FFFFFF;
    opacity: 0.4;
}

.vector1 {
    position: absolute;
    top: 519px;
    right: 491px;

}

.vector2 {
    position: absolute;
    top: 519px;
    right: 431px;
}
