.intro {
    position: relative;
    background: no-repeat;
    height: 670px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_img {
    background-image: inherit;
    background-size: cover;
}

.presentationContainer {
    position: absolute;
    display: flex;
    align-items: end;
    width: 1116px;
    top: 0;
}

.presentationContainerLeft {
    display: flex;
    flex-direction: column;
}

.presentationServices {
    /*font-family: 'Merriweather';*/
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
    margin-bottom: 260px;
}

.presentation {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 367px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    display: inline-block;
    cursor: pointer;
}

.presentation:active {
    opacity: .75;
}

.slider_indicators {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.slider_indicators_inactive {
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.slider_indicators_active {
    width: 10px;
    height: 10px;
}

.presentationContainerRight {
    display: flex;
    align-items: end;
    margin-left: auto;
    margin-top: auto;
    height: 557px;
}

.slider_control_prev {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_control_next {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


