.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 630px;
    background: #EBEBEB;
}

.wrapper_s {
    position: absolute;
    display: flex;
    align-items: end;
    width: 1110px;
    height: 544px;
    top: 0;
}

.wrapper_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.clients_our {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 40px;
    height: 23px;
}

.clients_work {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-bottom: 80px;
    height: 47px;
}

.microsoft {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}

.slider_indicators {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.ellipse {
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.ellipse_active {
    width: 10px;
    height: 10px;
}

.container_slider {
    display: flex;
    margin-left: auto;
}

.slider_control_prev {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005FA3;
    opacity: 0.2;
}

.slider_control_next {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005FA3
}


