.wrapper {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.wrapper_block {
    display: flex;
    flex-direction: column;
}

.reviews {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.thanks {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-bottom: 80px;
}

.reviews_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1110px;
    height: 320px;
    background: #EBEBEB
}

.text {
    display: flex;
    margin-left: 95px;
    margin-bottom: 58px;
    width: 920px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000
}

.reviews_avatar {
    margin-left: 95px;
}

.slider {
    display: flex;
    width: 1110px;
    align-items: end;
    margin-top: 50px;
}

.slider_indicators {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.ellipse {
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.ellipse_active {
    width: 10px;
    height: 10px;
}

.container_slider {
    display: flex;
    margin-left: auto;
}

.slider_control_prev {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005FA3;
    opacity: 0.2;
}

.slider_control_next {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005FA3
}
