.wrapper {
    position: relative;
    background: no-repeat;
    height: 670px;
    background-size: cover;
}

.intro_img {
    background-image: inherit;
    background-size: cover;
}

.connection {
    position: absolute;
    width: 445px;
    height: 47px;
    left: 407px;
    top: 122px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}

.questions {
    position: absolute;
    width: 445px;
    height: 43px;
    left: 405px;
    top: 229px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.phone {
    position: absolute;
    left: 407px;
    top: 352px;
}

.number {
    position: absolute;
    width: 184px;
    height: 29px;
    left: 440px;
    top: 352px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

.mail1 {
    position: absolute;
    left: 665px;
    top: 351px;
}

.mail2 {
    position: absolute;
    left: 669px;
    top: 355px;
}

.email {
    position: absolute;
    width: 155px;
    height: 29px;
    left: 719px;
    top: 352px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

.name {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 975px;
    top: 135px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.surname {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 1260px;
    top: 135px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.name_name {
    position: absolute;
    width: 125px;
    height: 21px;
    left: 975px;
    top: 166px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.surname_surname {
    position: absolute;
    width: 125px;
    height: 21px;
    left: 1260px;
    top: 166px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.line {
    position: absolute;
    width: 255px;
    height: 0px;
    left: 975px;
    top: 202px;
    border: 1px solid #FFFFFF;
}

.line1 {
    position: absolute;
    width: 255px;
    height: 0px;
    left: 1260px;
    top: 202px;
    border: 1px solid #FFFFFF;
}

.message {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 975px;
    top: 237px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.your_message {
    position: absolute;
    width: 255px;
    height: 21px;
    left: 975px;
    top: 268px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.line2 {
    position: absolute;
    width: 540px;
    height: 0px;
    left: 975px;
    top: 373px;
    border: 1px solid #FFFFFF;
}

.send_message {
    position: absolute;
    width: 270px;
    height: 60px;
    left: 1245px;
    top: 423px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    display: inline-block;
    cursor: pointer;
}

.send_message:active {
    opacity: .75;
}