.wrapper {
    position: relative;
    background: no-repeat;
    height: 670px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.intro_img {
    background-image: inherit;
    background-size: cover;
}

.contactsContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1116px;
    margin-top: 135px;
}

.contactsContainerLeft {
    display: flex;
    flex-direction: column;
    margin-bottom: 115px;
}

.containerTop {
    display: flex;
    flex-direction: column;
}

.connection {
    margin-bottom: 60px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}

.questions {
    margin-bottom: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.containerBottom {
    display: flex;
}

.number {
    margin-left: 16px;
    margin-top: 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

.container_mail {
    margin-left: 45px;

}

.mail1 {
    position: absolute;
}

.mail2 {
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
}

.email {
    margin-left: 56px;
    margin-top: 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}


.contactsContainerRight {
    display: flex;
    flex-direction: column;
    margin-left: 101px;
}

.yourName {
    display: flex;
}

.nameBlock {
    display: flex;
    flex-direction: column;

}

.surnameBlock {
    margin-left: 30px;
}

.messageBlock {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.surname {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.name_name {
    margin-bottom: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.surname_surname {
    margin-bottom: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.line {
    width: 255px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.message {
    margin-bottom: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.your_message {
    margin-bottom: 84px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.line1 {
    width: 540px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-bottom: 50px;
}

.send_message {
    width: 270px;
    height: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    display: inline-block;
    cursor: pointer;
}

.send_message:active {
    opacity: .75;
}