.modal-title {
    font-family: Lato, Arial, serif;
    font-weight: black;
}
/*.header {*/
/*  background-color: black;*/
/*}*/
.header_logo-link {
    padding-top: 33px;
}
.header_logo-pic {
    padding-right: 30px;
}