.wrapper {
    position: relative;
    height: 110px;
    width: 1920px;
}

.footer_a {
    position: absolute;
    width: 574px;
    height: 20px;
    left: 407px;
    top: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.footer_b {
    position: absolute;
    width: 401px;
    height: 20px;
    right: 405px;
    top: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #000000;
}