* {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/*html, body {*/
    /*width: 1920px;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
/*}*/

.wrapper {
    /*background: #e81c1c;*/
    background: #F9F9F9;
}
